*, *:before,*:after{
  box-sizing: border-box;
  outline: none;
}

body {
  background: rgb(75, 73, 73);
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#panel {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 63vh;
  margin: 0px 0px 30px 0px;
  padding: 0;
}

.card {
  width: 29em;
  height: 17em;
  display: flex;
  background: rgb(95, 95, 95);
  border-radius: 15px;
  color:aliceblue;
  overflow: hidden; 
  font-size: 16px;
  transition: all 0.4s;
}

.data {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.04);
  color:black;
  background-color: beige;
}

button {
  width: 6em;
  height: 43px;
  border: 3px solid transparent;
}

input {
  width: 30vw;
  height: 40px;
  margin-right: 20px;
  border-radius: 10px;
  border: 3px solid transparent;
}

input:hover {
  border: 3px solid rgba(240, 90, 0, 0.8);
}

.container span {
  margin-right: 5px;
  padding: 0.1px 8px; 
}

.container-options h2{
  text-align: left;
  font-size: 42px;
  padding-left: 34px;
  color:rgb(247, 113, 51);
}

.container-options div ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.circle {
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-top: 8px;
}

.dead {
  background-color: red;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

#option {
  color: black;
  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
}

#option h1 {
  font-size: 30px;
}

#option:hover{
  color: white;
}

#option div{
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  gap: 5em;
  margin: 0px 15px;
}

#search, #option {
  display: flex;
  justify-content: center;
}

.data p {
  text-align: start;
  margin: 0;
  padding: 1px;
}

.text{
  opacity: 0.8;
}


@media (max-width: 1070px){
  input {
    width: 230px;
  }

  .container-options div ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media (max-width: 700px){
  .card {
    width: 15em;
    height: 26.4em;
    flex-direction: column;
  }

  .card img{
    height: 12em;
  }

  #option div {
    flex-direction: column;
    gap: 10px;
  }

  .container-option>div {
    display: grid;
    place-items: center;
  }
}